---
import type { CollectionEntry } from 'astro:content';
import BaseHead from "../components/BaseHead.astro";
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = { post: CollectionEntry<'blog'>['data'], summary: {index: number, count: number, title: string, ref: string }[] };

const { summary, post: { title, description, pubDate, updatedDate} } = Astro.props;
---
<!doctype html>
<html lang="pt-br">
	<head>
		<BaseHead title={title} description={description} />
		<style>
      @keyframes appear {
        from { opacity: 0; }
        to { opacity: 1; }
      }
      html {
        scroll-behavior: smooth;
      }
      body::-webkit-scrollbar {
        display: none;
      }
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
        animation: appear 350ms ease-in;
			}
      article {
        width: 100vw;
      }

			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
	      color: var(--secondary);
        text-align: justify;
        text-justify: inter-word;
			}
			.title {
				margin-bottom: 1em;
				padding: 0 0 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

      .summary {
        position: fixed;
        width: calc((100vw - 880px) / 2);
        max-width: 280px;
        left: 3em;
        top: 64px;
      }
      .summary ul {
        margin-block: 0px;
        margin-inline: 0px;
        padding-inline: 0px;
        list-style-type: none;
        line-height: 1.6;
        font-size: 19px;
      }

      .summary ul li a {
        color: rgb(var(--gray));
        text-decoration: none;
        text-wrap: wrap;
      }

      .summary ul li a:hover {
        color: var(--accent);
      }

      @media (max-width: 1299px) {
        .summary {
          display: none;
        }
      }
		</style>
	</head>

	<body>
		<Header/>
		<main>
      <section class="summary">
        <ul>
        {
          summary.map((heading) => {
            return (
              <li style={`margin-left: ${Math.max((heading.count - 2), 0) * 16}px`}>
                <a href={`#${heading.ref}`}>
                {heading.title}
                </a>
              </li>
            )
          })
        }
        </ul>
      </section>
			<article>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
            <div class="date">
              {
                updatedDate
                ? <div class="last-updated-on">
                    Publicado em <FormattedDate date={pubDate} />
                  </div>
                : <FormattedDate date={pubDate} />
              }
              { updatedDate
                ? <div class="last-updated-on">
                    Atualizado em <FormattedDate date={updatedDate} />
                  </div>
                : <></>
              }
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
