---
import type { CollectionEntry } from 'astro:content';
import BaseHead from "../components/BaseHead.astro";
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { ViewTransitions, fade, slide } from 'astro:transitions';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="pt-br">
	<head>
		<BaseHead title={title} description={description} />
		<style>
      body::-webkit-scrollbar {
        display: none;
      }
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
      article {
        /* animation: appear 0.3s ease-in-out; */
      }

			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
	      color: var(--secondary);
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
    <ViewTransitions />
	</head>

	<body>
		<Header />
		<main
      transition:animate={fade({duration: "0.42s"})}
    >
			<article>
				<div class="prose">
					<div class="title"
            transition:name={title}
          >
						<h1>{title}</h1>
            <div class="date">
							<FormattedDate date={pubDate} />
              { updatedDate
                ? <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                : <></>
              }
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
